---
import Layout from '../layouts/Layout.astro';
import Title from './Title.astro';
import About from './About.astro';
import Projects from './Projects.astro';
import '../styles/base.css';
---

<Layout title="Welcome to My Portfolio.">
	<main>
		<Title />
		<About />
		<Projects />
	</main>
</Layout>

<style>

</style>
